
@use '@carbon/styles/scss/config' with
  (
    $prefix: 'bx',
    $css--default-type: true,
    $css--reset: true
  );

@use '@carbon/layout/scss/generated/spacing' with (
  $spacing-05: 10px
);

// // override a component token
// @use '@carbon/react/scss/components/button/tokens' as button-tokens with (
//   $button-primary: #3f51b5
// );


// // Override a token from the theme
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/theme' with
  (
    $theme: (
      background: #e2e2e2,
      text-primary: red,
    )
  );

@use '@carbon/styles';
@use '@carbon/react/scss/components/accordion';


:root {
  @include theme.theme();
}

